$gold: #ffea00;
$dark-grey: #424242;
$off-white: #f4f2f2;
$light-grey: #bcbcbc;
$blue: #3299bb;
$light-blue: #1ab6ea;

$body-bg-color: $off-white;

$copy-color: $dark-grey;

$sans-stack: helvetica, sans-serif;
$serif-stack: georgia, serif;
